.order-detail-container {
    margin-top: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.card-body p {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

button {
    margin-top: 20px;
}
