.Category_category-container {
    padding: 20px;
}

.Category_category-container h2 {
    display: inline-block;
    margin-right: 20px;
}

.Category_category-container button {
    display: inline-block;
    vertical-align: middle;
}

.Category_category-list {
    margin-top: 20px;
}

.Category_category-item {
    margin-left: 20px;
    margin-top: 10px;
}

.Category_indent {
    margin-right: 10px;
}

.Category_button {
    margin-left: 10px;
}
