.LoginPage_LoginPage {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.LoginPage_h2 {
    text-align: center;
    margin-bottom: 20px;
}

.LoginPage_form-control {
    margin-bottom: 15px;
}

.LoginPage_btn-primary {
    width: 100%;
}

.LoginPage_error-message {
    color: red;
    margin-bottom: 15px;
}
