.MyPage_MyPage {
    width: 100%;
    text-align: center;
}

.MyPage_header {
    width: 100%;
    height: 50px;
    background-color: #ccc;
}

.MyPage_left-menu {
    width: 20%;
    height: 500px;
    float: left;
}

.MyPage_content {
    width: 80%;
    height: 600px;
    float: left;
}

.MyPage_footer {
    width: 100%;
    height: 80px;
    background-color: beige;
    clear: both;
}

.MyPage_MemberEdit {
    max-width: 600px;
    margin: 0 auto;
}

.MyPage_MemberEdit .form-group {
    margin-bottom: 1rem;
}

.MyPage_MemberEdit button {
    display: block;
    width: 100%;
}
