.MyPage_MyPage {
    width: 100%;
    text-align: center;
}

.MyPage_header {
    border-bottom: black solid 1px;
    width: 100%;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 36px;
    color: #000000;
    top: 20px;
}

.MyPage_left-menu {
    width: 20%;
    height: 500px;
    float: left;
}

.MyPage_content {
    width: 80%;
    height: 600px;
    float: left;
}


.MyPage_MemberEdit {
    max-width: 600px;
    margin: 0 auto;
}

.MyPage_MemberEdit .form-group {
    margin-bottom: 1rem;
}

.MyPage_MemberEdit button {
    display: block;
    width: 100%;
}
