.contain {
    display: flex;
    justify-content: center; /* 수평 정렬 */
    align-items: center;    /* 수직 정렬 */
    height: 80vh;
}

.RegisterPage_Register {
    width: 700px;
    margin: 200px auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.RegisterPage_Register h2 {
    text-align: center;
    margin-bottom: 20px;
}

.RegisterPage_form-control {
    margin-bottom: 15px;
}

.RegisterPage_form-check-inline {
    margin-right: 10px;
}

.RegisterPage_btn-primary {
    width: 100%;
    background-color: white !important; /* 새로운 배경 색상 */
    border: 2px solid black !important; /* 새로운 테두리 색상 및 두께 */
    color: black !important; /* 버튼 안의 글자 색상 */
}

.font-size40 {
    font-size : 40px;
}


