.RegisterPage_Register {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.RegisterPage_Register h2 {
    text-align: center;
    margin-bottom: 20px;
}

.RegisterPage_form-control {
    margin-bottom: 15px;
}

.RegisterPage_form-check-inline {
    margin-right: 10px;
}

.RegisterPage_btn-primary {
    width: 100%;
}
