.AdminMain_admin-main {
  padding: 20px;
}

.AdminMain_admin-info {
  text-align: center;
}

.AdminMain_stat-card {
  margin-bottom: 20px;
}

.AdminMain_banner-card {
  margin-top: 20px;
  text-align: center;
}

.AdminMain_custom-file-upload {
  cursor: pointer;
}
